# Get these values on project preferences > Data API > Project URL and project preferences > API Keys > Legacy anon, service_role API keys
SUPABASE_URL=YOUR_SUPABASE_URL_HERE
SUPABASE_ANON_KEY=YOUR_SUPABASE_ANON_KEY_HERE
